.formGroup {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formGroup > * {
    width: 100%;
}

.incomeCard {
    max-width: 500px;
}

.incomeForm {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}