<div id="mainToolbar">
  <div id="left">
    <button mat-button routerLink="/transactions" routerLinkActive="activeTab">Transactions</button>
    <button mat-button routerLink="/graphs" routerLinkActive="activeTab">Graphs</button>
    <button mat-button routerLink="/shared" routerLinkActive="activeTab">Shared Goals</button>
  </div>

  <div id="right">
    <button mat-button id="lastUpdated"><mat-icon>update</mat-icon> Last updated: {{ lastUpdated }}</button>
  </div>
</div>

<router-outlet></router-outlet>