<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.date }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.name }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let transaction" [ngClass]="transaction.type">{{ transaction.amount.toFixed(2) }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let transaction">{{ getCategory(transaction) }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let transaction">
            <button mat-button><mat-icon>edit</mat-icon></button>
            <button mat-button><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-fab [matMenuTriggerFor]="newTransactionMenu" id="menuButton"><mat-icon id="addIcon">add</mat-icon></button>
<mat-menu #newTransactionMenu yPosition="above">
    <button mat-menu-item>New income</button>
    <button mat-menu-item>New expense</button>
    <button mat-menu-item>New saving</button>
</mat-menu>
