.formGroup {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.formGroup > * {
    width: 100%;
}

.savingCard, .goalCard, .addUserCard {
    max-width: 500px;
}

.savingForm, .goalForm, .addUserForm {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}